<div class="table-wrapper">
  <table mat-table class="mat-table">
    <tr>
      <th>Segunda</th>
      <th>Terça</th>
      <th>Quarta</th>
      <th>Quinta</th>
      <th>Sexta</th>
      <th>Sábado</th>
      <th>Domingo</th>
    </tr>
    <tr>
      <td><b>Manhã</b></td>
      <td>
        <b>Manhã</b> <br />
        <b>10:30 - 11:30</b> - Ginásio da Mente, Yoga, Chickung, Risoterapia
      </td>
      <td>
        <b>Manhã</b> <br />
        - ADCE
      </td>
      <td><b>Manhã</b></td>
      <td>
        <b>Manhã</b> <br />
        <b>10:00</b> - CEPROF
      </td>
      <td><b>Manhã</b></td>
      <td><b>Manhã</b></td>
    </tr>
    <tr>
      <td>
        <b>Tarde</b> <br />
        <b>14:00 - 18:00</b> - MyMoyo <br />
        <b>15:00</b> - Walking Football - Nave Polivalente Espinho
      </td>
      <td>
        <b>Tarde</b> <br />
        <b>15:00 (15/15 dias)</b> - Tricotar Histórias - Biblioteca de Espinho
      </td>
      <td>
        <b>Tarde</b> <br />
        <b>14:30</b> - CEPROF<br />
        <b>14:00 - 18:00</b> - MyMoyo
      </td>
      <td><b>Tarde</b></td>
      <td>
        <b>Tarde</b> <br />
        <b>21:30</b> - Coro
      </td>
      <td><b>Tarde</b></td>
      <td>
        <b>Tarde</b> <br />
        <b>(3º domingo de cada mês)</b> - Baile sénior
      </td>
    </tr>
  </table>
</div>
