.app-top-banner {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #d7e3fe;
  color: rgb(28, 65, 151);
  display: flex;
  align-items: center;
  height: 10px;

  .title-text {
    font-weight: 700;
    font-size: 20px;
  }
}

.main-content-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;

  .main-content {
    width: 100%;
    max-width: 1800px;
    margin: 40px 0px;
  }
}

.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 5px;
  box-sizing: border-box;
  font-size: 10px;
  opacity: 0.6;
  font-weight: 600;
  color: rgb(12, 46, 126);

  a {
    color: rgb(12, 46, 126) !important;
  }
}
